
.pragraph-text{
   color: gray; 
}

.online-order{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 20px;
}
.online-order div h5{
  margin: 20px 0;
  color: rgb(72, 215, 57);
}
.online-order div P{
color: gray;
}