

 .footer{
    margin-top: 70px;
    width: 100%;
    padding: 50px 10%;
    background: #333;
    color: #efefef;
  
}
.footer-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer div{
    text-align: center;
}
.footer div{
    text-align: center;
}
.col-1 {
    flex: 0 0 auto;
    width: 44.333333%;
}
.col-5 p{
     color: #c3c3c3ec;
    font-size: 14px;
}


.col-1 a{
    display: block;
    text-decoration: none;
    color: #c3c3c3ec;
    font-size: 14px;
    
}

.manage{
    color: #c3c3c3ec;
    background-color: transparent;
    border: 1px solid silver;
    padding: 0 8px;
    margin-bottom: 15px;
    border-radius: 2px;
    font-size: 14px;
}
.manage:hover{
    background-color: black;
 }

@media screen and (max-width:600px) {
    .footer-items{
    display: grid;
    grid-template-columns: 45% 45%;
}
.manage{
   width: 300px;
   margin-left: 8px;
}
}

